<!doctype html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8638765341726832"
     crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
          
    <style>
        body {
            background-color: #e6f2ff;
        }
        
        .form-control::placeholder {
            color: #999999;
        }
    </style>

    <title>BAIXATUBE</title>
</head>
<body>
<header>
    <h1 class="text-center mb-5">BAIXATUBE</h1>
</header>

<div class="container my-5">
    <h2 class="text-center">BAIXE SUAS MUSICAS DO YOUTUBE</h2>
    {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            LINK INVALIDO! Por favor adicione um link valido.
        </div>
    {% endif %}
    <form action="/download" method="POST" class="mt-5 text-center">
        <div class="form-group">
            <input type="text" class="form-control" id="urlInput" name="url" placeholder="Cole aqui o link da musica ou playlist do youtube:" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Download</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-n7aduXLZ2QV7x5f5S5V7NSu6pCHB1yjK4+4C7woZmhGJB75Q7J5l5b0x7Vzsy/iS"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
